@model Student
<form asp-action="Create">

<div>
<label>Name</label>
<input asp-for="Name" />
<span asp-validation-for="Name"></span>
</div>

<div>
<label>Email</label>
<input asp-for="Email" />
<span asp-validation-for="Email"></span>
</div>

<div>
<label>Age</label>
<input asp-for="Age" />
<span asp-validation-for="Age"></span>
</div>

<div>
<label>Password</label>
<input asp-for="Password" />
<span asp-validation-for="Password"></span>
</div>

<button type="submit">Submit</button>

</form>